.partner-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partner-item {
  width: auto;
  height: 100%;
  display: block;
  max-width: calc(1vw + 70px);
  max-height: calc(1vw + 70px);
  padding: 15px 5px;

  @media ($small) {
    max-width: calc(1vw + 90px);
    max-height: calc(1vw + 90px);
  }

  @media ($medium) {
    max-width: calc(2vw + 90px);
    max-height: calc(2vw + 90px);
  }

  @media ($large) {
    max-width: calc(3vw + 120px);
    max-height: calc(3vw + 120px);
    padding: 10px;
  }

  @media ($xlarge) {
    max-width: 180px;
    max-height: 180px;
    padding: 10px 20px;
  }
}

.partner-item a {
  display: block;
}

.partner-item img {
  width: 100%;
  height: auto;
}
